.container{
    margin-bottom: 100px;
}
#dark{
    background-color:#fceae8 ;
}

.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.bye{
    background-image: linear-gradient(to bottom,#FF589B 0,#FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 12px;
}
.cat1{
    background-color: rgb(235, 155, 8);
}
.cat2{
    background-color: #FF136F;
}
.cat3{
    background-color: rgb(44, 8, 245);
}
.cetagories h1{
    color: white;
}
.cetagories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
#contactus{
    height: 300px;
}
#contactus h6{
    color: gray;
}